<section class="section about-me-section">
  <div class="container about-me-container">
    <h2 class="about-me-header">About <span class="span-me">Me</span></h2>
    <div class="picture-container">
      <picture>
        <source
          srcset="
            ./img/man-images/about-me-pc-1x.jpg 1x,
            ./img/man-images/about-me-pc-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/man-images/about-me-tab-1x.jpg 1x,
            ./img/man-images/about-me-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/man-images/about-me-mobile-1x.jpg 1x,
            ./img/man-images/about-me-mobile-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-me-img"
          src="./img/man-images/about-me-pc-2x.jpg"
          width="320"
          height="374"
          alt="my-photo"
        />
      </picture>
    </div>
    <div class="bio-container">
      <h3 class="bio-title">Bio</h3>
      <p class="bio-text">
        I'm Lloyd Jefferson, a talented programmer specializing in software
        development. My expertise spans various programming languages and
        technologies, and I am dedicated to continually enhancing my skills. I
        thrive on seeking unconventional and creative solutions to problems,
        leveraging a high level of analytical skills to effectively tackle even
        the most challenging tasks.
      </p>
      <p class="bio-text">
        Adaptable to both independent and team-oriented work, I collaborate
        seamlessly with colleagues, exchanging ideas and finding optimal
        solutions. My professional maturity enables me to navigate challenges
        and stressful situations with a calm demeanor, maintaining a
        consistently high quality of work. Committed to self-improvement, I
        actively engage in studying new technologies and practices to stay
        current with the latest innovations in the field.
      </p>
    </div>
    <div class="text-container">
      <div class="education-container">
        <h3 class="education-title">Education</h3>
        <ul class="education-list list">
          <li class="education-item main-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-item main-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-item main-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div class="role-container">
        <h3 class="role-title">Role</h3>
        <ul class="role-list list">
          <li class="role-item main-item">Frontend development</li>
          <li class="role-item main-item">HeadlessCMS, Wordpress</li>
          <li class="role-item main-item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
