<footer class="footer section">
  <div class="container footer-container">
    <div class="footer-box">
      <a class="footer-logo dark-theme" href="./index.html"
        >Lloyd<span class="logo-accent dark-theme">Jefferson.</span>
      </a>
      <ul class="footer-list">
        <li>
          <a
            class="link dark-theme"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="link dark-theme"
            href="https://www.facebook.com/goITclub/  "
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="link dark-theme"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it "
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            class="link dark-theme"
            href="https://github.com/vovaVat/Portfolio-2.0/tree/main"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="copyright-box">
      <p class="dark-theme copyright-text copy">&copy; Copyright 2024.</p>
      <p class="dark-theme copyright-text">Made by LloydJefferson</p>
    </div>
  </div>
</footer>
