<header class="page-header">
  <div class="container hed-container">
    <nav class="header-nav">
      <h2 class="header-logo">
        <a href="./index.html"
          >LLOYD<span class="logo-part">JEFFERSON.</span></a
        >
      </h2>
      <ul class="hed-list">
        <li class="hed-list-item">
          <button class="theme-toggle"></button>
        </li>
        <li class="hed-list-item">
          <a class="nav-link hover" href="#about-me">About me</a>
        </li>
        <li class="hed-list-item">
          <a class="nav-link hover" href="#projects">Projects</a>
        </li>
        <li class="hed-list-item">
          <a class="nav-link hover" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="menu-btm" type="button">
      <svg class="menu-burger" width="22" height="16">
        <use href="{=$icons-path}#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
