<header class="page-header">
  <div class="container hed-container">
    <nav class="header-nav">
      <h2 class="header-logo">
        LLOYD<span class="logo-part">JEFFERSON.</span>
      </h2>
      <ul class="hed-list">
        <li class="hed-list-item">
          <a class="nav-link hover" href="#about-me">About me</a>
        </li>
        <li class="hed-list-item">
          <a class="nav-link hover" href="#projects">Projects</a>
        </li>
        <li class="hed-list-item">
          <a class="nav-link hover" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="theme-toggle">
      <input type="checkbox" id="theme-slider" class="slider-checkbox">
      <label for="theme-slider" class="slider-label">
        <div class="slider-thumb">
          <svg class="slider-icon sun" width="40" height="40">
            <use href="./img/icons.svg#icon-topic-light"></use>
          </svg>
          <svg class="slider-icon moon" width="40" height="40">
            <use href="./img/icons.svg#icon-topic-dark"></use>
          </svg>
        </div>
      </label>
    </div>

    <button class="menu-btm" type="button">
      <svg class="menu-burger" width="22" height="16">
        <use href="{=$icons-path}#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
