<section class=" section hero-section">
    <div class="hero-container container">
      <div class="hero-title-box">
        <div class="title-box">
          <h1 class="hero-title">
            Hello, I am
            <span class="hero-title hero-accent brand-color"
              >Fullstack developer</span
            >
          </h1>
        </div>
        <div class="hero-image-box">
            <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/man-images/man.png 1x,
                    /img/man-images/man-2x.png 2x
                  "
                />
                <img
                  src="/img/man-images/man.png"
                  class="hero-image"
                  alt=""
                />
              </picture>
        </div>
      </div>
      <img
        class="decor-points"
        src="../img/decor/decor-1.png"
        alt="background-drops"
      />
      <div class="btn-text-box">
        <div class="hero-btn-box">
          <img
            class="decor-points-bottom"
            src="../img/decor/decor-2.png"
            alt="background-drops"
          />
          <svg class="arrow-icon" width="30" height="16">
            <use href="../img/icons.svg#icon-arrow"></use>
          </svg>

          <a class="arrow-text">Order the project</a>
          <a class="hero-btn" href="#work-together"></a>
        </div>
        <div class="hero-text-box">
          <p class="hero-text">
            I work with people all over the world to create
            <span class="brand-color">impressive</span> and
            <span class="brand-color">functional websites</span> that
            reflect each client’s unique personality.
          </p>
        </div>
      </div>
    </div>
    <div class="media-container">

        <ul class="media-list"> 

            <a class="media-link" target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a>
            <a class="media-link" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a>
            <a class="media-link" target="_blank" href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a>
            <a class="media-link" target="_blank" href="https://github.com/vovaVat/Portfolio-2.0">GitHub</a>

        </ul>
    </div>
  </section>