<section class="section hero-section">
  <div class="hero-container container">
    <div class="hero-title-box">
      <h1 class="hero-title dark-theme">
        Hello, I am
        <span class="hero-title hero-accent brand-color"
          >Fullstack developer</span
        >
      </h1>
      <picture class="hero-photo">
        <source
          media="(min-width: 1280px)"
          srcset="./img/man-images/man1x.jpg 1x, ./img/man-images/man2x.jpg 2x"
        />
        <img
          src="./img/man-images/man1x.jpg"
          class="hero-image"
          alt="Developer"
          width="592px"
          height="444px"
        />
      </picture>
    </div>
    <img class="top-points" src="{=$decor-1-img-path}" alt="background-drops" />

    <div class="btn-text-box">
      <div class="hero-btn-box">
        <img
          class="decor-points-bottom"
          src="{=$decor-2-img-path}"
          alt="background-drops"
        />
        <svg class="arrow-icon" width="30" height="16">
          <use href="{=$icons-path}#icon-btn-hero"></use>
        </svg>
        <a class="arrow-text dark-theme" href="#contacts">Order the project</a>
        <a class="hero-btn" id="hero-btn" href="#contacts"></a>
      </div>
      <p class="hero-text dark-theme">
        I work with people all over the world to create
        <span class="brand-color">impressive</span> and
        <span class="brand-color">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="media-list">
    <li>
      <a
        class="media-link dark-theme"
        target="_blank"
        href="https://www.instagram.com/goitclub/"
        rel="noreferrer noopener nofollow"
        >Instagram</a
      >
    </li>
    <li>
      <a
        class="media-link dark-theme"
        target="_blank"
        href="https://www.facebook.com/goITclub/"
        rel="noreferrer noopener nofollow"
        >Facebook</a
      >
    </li>

    <li>
      <a
        class="media-link dark-theme"
        target="_blank"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        rel="noreferrer noopener nofollow"
        >Linkedin</a
      >
    </li>

    <li>
      <a
        class="media-link dark-theme"
        target="_blank"
        rel="noreferrer noopener nofollow"
        href="https://github.com/vovaVat/Portfolio-2.0"
        >GitHub</a
      >
    </li>
  </ul>
</section>
