<section class="hero-section section">
  <div class="hero-container container">
    <h1 class="hero-title">
      Hello, I am </br>
      <span class="hero-title hero-accent brand-color"
        >Fullstack developer</span
      >
    </h1>
    <div class="hero-image">will be a photo</div>

    <div class="hero-btn-box">
      <svg class="arrow-icon" width="30" height="16">
        <use href="./images/icons.svg#icon-arrow-1"></use>
      </svg>
      <p class="arrow-text">Order the project</p>
      <button class="hero-btn" type="button"></button>
    </div>
    <div class="hero-text-box">
      <p class="hero-text">
      I work with people all over the world to create
      <span class="brand-color">impressive</span> and
      <span class="brand-color">functional websites</span> that reflect
      each client’s unique personality.
    </p>
    </div>
  </div>
</section>