<div class="mob-menu">
  <div class="mob-menu-container">
    <div class="mob-container-logo">
      <h2 class="header-logo">
        LLOYD<span class="logo-part">JEFFERSON.</span>
      </h2>
      <button class="mob-menu-close">
        <svg class="mob-menu-icon" width="32" height="32">
          <use href="{=$icons-path}#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="container-mob-nav">
      <nav class="mob-nav">
        <ul class="mob-list">
          <li class="mob-list-item">
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li class="mob-list-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="mob-list-item">
            <a class="nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
