<section class="review-content section">
  <div class="swiper reviewsSwiper container">
    <h2 class="review-title">REVIEWS</h2>
    <div class="swiper-wrapper"></div>
    <div class="custom-navigation">
      <div class="custom-swiper-button-next">
        <svg>
          <use href="{=$icons-path}#icon-btn-right"></use>
        </svg>
      </div>
      <div class="custom-swiper-button-prev">
        <svg>
          <use href="{=$icons-path}#icon-btn-left"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
