<div class="review-content">
  <h2 class="review-title">REVIEWS</h2>
  <div class="swiper reviewsSwiper">
    <div class="swiper-wrapper">
    </div>
    <div class="custom-swiper-button-next">
      <svg class="review-person-featured-icon-circle">
        <use href="../img/icons.svg#icon-btn-right"></use>
      </svg>
    </div>
    <div class="custom-swiper-button-prev">
      <svg class="review-person-featured-icon-circle">
        <use href="../img/icons.svg#icon-btn-left"></use>
      </svg>
    </div>
  </div>
</div>

<script type="module" src="../js/reviews.js"></script>