<section class="section tech">
  <div class="marquee-left marquee">
    <div class="marquee__inner">
      <p class="marquee__line marquee__line-left">
        <span class="dot dot-one">HTML/CSS</span
        ><span class="dot dot-one">JavaScript</span
        ><span class="dot dot-one">React</span
        ><span class="dot dot-one"> Node.js</span
        ><span class="dot dot-one">React Native</span
        ><span class="dot dot-one">Typescript</span>
      </p>
      <p class="marquee__line marquee__line-left">
        <span class="dot dot-one">HTML/CSS</span
        ><span class="dot dot-one">JavaScript</span
        ><span class="dot dot-one">React</span
        ><span class="dot dot-one"> Node.js</span
        ><span class="dot dot-one">React Native</span
        ><span class="dot dot-one">Typescript</span>
      </p>
    </div>
  </div>

  <div class="marquee-right marquee">
    <div class="marquee__inner">
      <p class="marquee__line marquee__line-right">
        <span class="dot dot-two">HTML/CSS</span
        ><span class="dot dot dot-two">JavaScript</span
        ><span class="dot dot dot-two">React</span
        ><span class="dot dot dot-two"> Node.js</span
        ><span class="dot dot dot-two">React Native</span
        ><span class="dot dot dot-two">Typescript</span>
      </p>
      <p class="marquee__line marquee__line-right">
        <span class="dot dot-two">HTML/CSS</span
        ><span class="dot dot dot-two">JavaScript</span
        ><span class="dot dot dot-two">React</span
        ><span class="dot dot dot-two"> Node.js</span
        ><span class="dot dot dot-two">React Native</span
        ><span class="dot dot dot-two">Typescript</span>
      </p>
    </div>
  </div>
</section>
