<section class="together">
  <div class="container">
    <h2 class="together__title">let’s <span>work together</span></h2>
    <div class="wrapper">
      <div class="together__contacts">
        <p class="together__contacts-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="together__contacts-list">
          <li class="list-item">
            <a href="tel:+380904567890">+38 090 456 78 90</a>
          </li>
          <li class="list-item">
            <a href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="list-item">USA, New York</li>
        </ul>
      </div>
      <form class="together__form" novalidate>
        <input
          type="email"
          name="email"
          placeholder="Your email*"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <span class="error-message"></span>
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send message</button>
      </form>
    </div>
  </div>
</section>
