<section class="together">
  <div class="container">
    <h2 class="together__title">let’s <span>work together</span></h2>
    <div class="wrapper">
      <div class="together__contacts">
        <p class="together__contacts-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="together__contacts-list">
          <li class="list-item">
            <a href="tel:+380904567890">
              <svg class="icons icon-tel" width="24" height="24">
                <use xlink:href="./img/icons.svg#icon-tel"></use>
              </svg>
              +38 090 456 78 90</a
            >
          </li>
          <li class="list-item">
            <a href="mailto:lloydjefferson@gmail.com">
              <svg class="icons icon-email" width="24" height="24">
                <use xlink:href="./img/icons.svg#icon-email"></use>
              </svg>
              lloydjefferson@gmail.com</a
            >
          </li>
          <li class="list-item">
            <svg class="icons icon-map" width="24" height="24">
              <use xlink:href="./img/icons.svg#icon-map"></use></svg
            >USA, New York
          </li>
        </ul>
      </div>
      <form class="together__form" novalidate>
        <svg class="icon-success-filled" width="14" height="14">
          <use xlink:href="./img/icons.svg#icon-success-filled"></use>
        </svg>
        <input
          type="email"
          name="email"
          placeholder="Your email*"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <span class="error-message"></span>
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send message</button>
      </form>
    </div>
    <div class="modal">
      <span class="modal__close"></span>
      <h3 class="modal__title"></h3>
      <p class="modal__text"></p>
    </div>
  </div>
  <div class="backdrop"></div>
</section>
