:root {
  --benefits-title-color: var(--color-black);
  --benefits-title-brand-color: var(--color-accent-green);

  --benefits-item-title-color: var(--color-black);
  --benefits-item-text-color: var(--color-black);
  --benefits-icon-stroke-color: var(--color-accent-green);
  --benefits-icon-fill-color: var(--color-light-accent);
}

.dark-theme {
  --benefits-title-color: var(--color-white);
  --benefits-item-title-color: var(--color-white);
  --benefits-item-text-color: var(--color-white);
  --benefits-icon-fill-color: var(--color-dark-accent);
}

.brand-color {
  color: var(--benefits-title-brand-color);
}
.animate-on-scroll {
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}
.animate-on-scroll.visible {
  opacity: 1;
  transform: scale(1);
}

.img-decor {
  display: none;
}
.benefits-title {
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  line-height: 1.23;
  text-transform: uppercase;
  color: var(--benefits-title-color);
  margin-bottom: 40px;
  text-align: left;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.benefits-text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.icon-box {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: var(--benefits-icon-fill-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke: var(--benefits-icon-stroke-color);
}
.benefits-list-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  color: var(--benefits-item-title-color);
}
.benefits-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--benefits-item-text-color);
}

/* ----Benefits 768---- */

@media screen and (min-width: 768px) {
  .benefits-title {
    font-size: 108px;
    line-height: 1.15;
    margin-bottom: 0;
  }
  .benefits-list {
    width: 100%;
    margin-top: 240px;
    position: relative;
  }
  .benefits-item {
    width: calc((100% - 32px) / 2);
  }
  .benefits-item:nth-child(1) {
    position: absolute;
    top: -240px;
    right: 0;
  }

  .benefits-list-title {
    font-size: 18px;
    line-height: 1.56;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .benefits-list-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

/* ----Benefits 1280---- */

@media screen and (min-width: 1280px) {
  .benefits-container {
    position: relative;
  }
  .benefits-title-container {
    display: flex;
    justify-content: space-between;
  }
  .benefits-title-box {
    width: 100%;
    max-width: 704px;
  }
  .benefits-list-title {
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .img-decor {
    display: block;
  }
  .img-decor {
    position: absolute;
    top: -80px;
    right: 24px;
  }
  .benefits-list {
    margin-top: 130px;
  }
  .benefits-item {
    width: calc((100% - 64px) / 3);
  }
}
