:root {
  --faq-title-color: var(--color-black);
  --faq-secondary-title-color: var(--color-accent-green);
  --accordion-divider-color: var(--color-light-grey);
  --accordion-open-background: var(--color-light-accent);
  --accordion-title-text-color: var(--color-black);
  --accordion-content-text-color: var(--color-black);
  --accordion-trigger-icon-color: var(--color-black);
}

.dark-theme {
  --faq-title-color: var(--color-white);
  --accordion-divider-color: var(--color-white);
  --accordion-open-background: var(--color-dark-accent);
  --accordion-title-text-color: var(--color-white);
  --accordion-content-text-color: var(--color-white);
  --accordion-trigger-icon-color: var(--color-white);
}

/* FAQ section styles */

.faq-section {
  min-height: 1020px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 360px;
  gap: 40px;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--faq-title-color);
  text-transform: uppercase;
}

.faq-heading .secondary {
  color: var(--faq-secondary-title-color);
}

@media screen and (min-width: 768px) {
  .faq-section {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .faq-section {
    max-width: 1280px;
    flex-direction: row;
    gap: unset;
    background: url('../img/decor/decor-4.png') no-repeat no-repeat 32px 552px;
  }

  .faq-accordion {
    max-width: 592px;
    margin-top: 276px;
  }
}

/* Accordion styles */

.accordion-container {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  padding: 28px 24px;
  border-width: 0;
  border-color: var(--accordion-divider-color);
  border-style: solid;
  overflow: hidden;
  transition:
    background-color 0.4s ease-out,
    border-radius 0.4s ease-out;
}

.accordion-item .accordion-content {
  transition:
    height 0.4s ease-out,
    visibility 0.4s ease-out;
}
.accordion-item.is-open {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: var(--accordion-open-background);
}

.accordion-item:not(.is-open):not(:first-child) {
  border-top-width: 1px;
}

.accordion-item:not(.is-open):last-child {
  border-bottom-width: 1px;
}

.accordion-item.is-open + .accordion-item {
  border-top-width: 0;
}

.accordion-header {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.accordion-header-title {
  text-align: start;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  flex: 1 1 100%;
  color: var(--accordion-title-text-color);
}

.accordion-trigger-button {
  display: flex;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
}

.accordion-trigger-button-icon {
  --icon-color: var(--accordion-trigger-icon-color);
}

.accordion-item.is-open .accordion-trigger-button-icon .down-icon,
.accordion-item:not(.is-open) .accordion-trigger-button-icon .up-icon {
  display: none;
}

.accordion-panel {
  visibility: hidden;
}
.accordion-content {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--accordion-content-text-color);
  padding-top: 24px;
}

.accordion-item.is-open .accordion-panel {
  visibility: visible;
}
