button {
  border: none;
}

/* ------Header------ */

.hed-container {
  padding: 20px;
}

.hed-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #292929;
}

.logo-part {
  color: #00b068;
}

.hed-list {
  display: none;
}

.menu-btm {
  min-width: 32px;
  min-height: 32px;
  padding: 0;
}
.menu-burger {
  display: block;
  fill: #292929;
}

@media screen and (min-width: 768px) {
  .menu-btm {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .hed-container {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .hed-list {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    display: flex;
    gap: 40px;
    margin-left: auto;
  }

  .header-logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }
}

/* ------Mob-menu-------- */

.mob-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.mob-menu-container {
  padding-top: 16px;
  height: 100%;
}

.mob-container-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 20px;
  width: 100%;
}

.mob-menu-close {
  padding: 0;
}

.mob-menu-icon {
  stroke-width: 2px;
  stroke: #292929;
}

.container-mob-nav {
  background-image: url('../img/mob_menu/decor8.png');
  background-size: 100% auto;
  padding: 16px 20px;
}

.mob-nav {
  padding: 260px 119px 324px;
}

.mob-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mob-list-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
}

.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  display: none;
}
