button {
  border: none;
}

a {
  color: var(--color-black);
}

/* ------Header------ */

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hed-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-btm-theme {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #292929;
}

.logo-part {
  color: #00b068;
}

.hed-list {
  display: none;
}

.menu-btm {
  min-width: 32px;
  min-height: 32px;
  padding: 0;
}
.menu-burger {
  display: block;
  fill: #292929;
}

@media screen and (min-width: 768px) {
  .menu-btm {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .page-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hed-list {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
    display: flex;
    gap: 40px;
    margin-left: auto;
  }

  .header-logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }
}

/* ------Mob-menu-------- */

.mob-menu {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.mob-menu-container {
  height: 100%;
}

.mob-container-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.mob-menu-close {
  padding: 0;
}

.mob-menu-icon {
  stroke-width: 2px;
  stroke: #292929;
}

.container-mob-nav {
  background-image: url('../img/mob_menu/decor8.png');
  background-size: 100% auto;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-nav {
}

.mob-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mob-list-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
}

.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  display: none;
}

/*----------TOGGLE-------*/

.theme-toggle {
  margin-left: auto;
  margin-right: 15px;
  background-color: #e4e5e6;
  border: none;
  border-radius: 16px;
  width: 48px;
  height: 24px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .theme-toggle {
    margin-left: auto;
    margin-right: 40px;
  }
}

.theme-toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 19px;
  height: 19px;
  background-color: #00b068;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.theme-toggle.theme-toggle-dark::before {
  transform: translateX(calc(100% - 4px));
  position: absolute;
  top: 2px;
  left: 10px;
}

.theme-toggle.theme-toggle-dark::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 18px;
  border-radius: 50%;
  background-color: #2a2d32;
  width: 19px;
  height: 19px;
  display: none;
  animation: appear 0.4s forwards;
}

.dark .theme-toggle.theme-toggle-dark::after {
  display: inline;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.theme-toggle-dark {
  background-color: #2a2d32;
  color: white;
  border: none;
  border-radius: 16px;
  width: 48px;
  height: 24px;
  position: relative;
}

/*----------THEME-------*/

.dark {
  background-color: #1e2023;
  --var-text: var(--color-white);
  --var-bg-gray: var(--color-dark-grey);
  --var-gray-reviews: #3b3f45;
  --var-more-light-gray-reviews: #2a2d32;
  --var-light-gray-reviews: #2a2d32;
  --var-bg-gray-reviews: #3b3f45;
}

.dark .swiper-button-next-new,
.dark .swiper-button-prev-new {
  background-color: #1e2023;
  border: 1px solid var(--color-white);
}

.dark h1,
.dark h2,
.dark h3,
.dark a,
.dark p {
  color: #f0f0f0;
}

.dark .media-container {
  background-color: #2a2d32;
}

.dark .hero-btn {
  background-color: #00b068;
}

.dark .hero-btn:hover,
.dark .hero-btn:focus {
  background-color: #14c57c;
}

.dark .marquee-left {
  background-color: #204136;
}

.dark .marquee-right {
  background-color: #2a2d32;
}

.dark .my-projects-link {
  background-color: #2a2d32;
  color: #f0f0f0;
}

.dark .my-projects-link:hover,
.dark .my-projects-link:focus {
  background-color: #3b3f45;
}

.dark .load-more-btn {
  color: #f0f0f0;
  background-color: #1e2023;
}

.dark .icon-box {
  background-color: #204136;
}

.dark .accordion-header-title,
.dark .accordion-content {
  color: #f0f0f0;
}

.dark .accordion-trigger-button-icon {
  --icon-color: #f0f0f0;
}

.dark .accordion-item.is-open {
  background-color: #204136;
}

.dark .review {
  background-color: #2a2d32;
}

.dark .together__contacts-list a,
.dark .list-item:last-child {
  color: #f0f0f0;
}

.dark .together__form input,
.dark .together__form textarea {
  background-color: #2a2d32;
  color: #f0f0f0;
}

.dark .modal {
  background-color: #2a2d32;
}

.dark .modal__title {
  color: #14c57c;
}

.dark .modal__text {
  color: #f0f0f0;
}

.dark .modal__close::after,
.dark .modal__close::before {
  background-color: #f0f0f0;
}

.no-scroll {
  overflow: hidden;
}

.dark .menu-btm {
  background-color: #1e2023;
}

.dark .menu-burger {
  fill: #f0f0f0;
}

.dark .reviews-container,
.dark .swiper-container {
  color: #f0f0f0;
  background-color: #1e2023;
}

.dark .list {
  color: #f0f0f0;
}

.dark .media-list {
  background-color: #2a2d32;
  color: #f0f0f0;
}

.dark .dot-two::before {
  background-color: #f0f0f0;
}

.dark .marquee-right .dot {
  color: #14c57c;
}

.dark .mob-menu-icon {
  stroke: #f0f0f0;
}

.dark .mob-menu-close {
  background-color: #1e2023;
}
