.hero-section {
  padding: 96px 0 56px;
}
.hero-title {
  font-family: "Impact", sans-serif;
  font-size: 64px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero-accent {
  color: var(--color-accent-green);
}
.hero-image {
  display: none;
}
.hero-btn-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.hero-btn {
  background-color: var(--color-light-accent);
  min-width: 165px;
  height: 92px;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-accent-green);
}
.arrow-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  position: absolute;
  content: "";
  top: 32px;
  left: 44px;
}
.arrow-icon {
  stroke: 2px;
  fill: var(--color-accent-green);
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 72px 0 64px;
  }
  .hero-title {
    font-size: 136px;
    line-height: 1.15;
    margin-bottom: 60px;
  }
  .hero-btn-box {
    justify-content: start;
  }
  .arrow-icon {
    margin-right: 48px;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1248px;
    padding: 168px 0 116px;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .hero-title {
    line-height: 1.15;
    margin-bottom: 80px;
  }
  .hero-image {
    background-image: url(../images/developer-photo.jpg);
    border-radius: 16px;
    width: 108px;
    height: 108px;
    display: flex;
    position: absolute;
    top: 20px;
    right: 465px;
  }
  .hero-btn-box {
    width: 100%;
    max-width: 416px;
  }
  .arrow-icon {
    margin-right: 48px;
  }
  .hero-text-box {
    width: 100%;
    max-width: 592px;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }
}