@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "Impact";
  src: url("../fonts/impact.ttf") format("ttf");
}

:root {
  --color-black: #292929;
  --color-accent-green: #00b068;
  --color-white: #f0f0f0;
  --color-light-grey: #e4e5e6;
  --color-dark-grey: #2a2d32;
  --color-light-accent: #bcdfd1;
  --color-dark-accent: #204136;
  --color-hover-green: #009156;
  --color-error: #e74a3b;
  --color-hover-grey: #bbbbbb;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Impact";
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 1.8px;
}

h2 {
  font-family: "Impact";
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 64px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a.hover {
  transition: color 0.3s;
}

a.hover:hover {
  color: var(--color-accent-green);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding: 62px 0;
  }

  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 136px;
    line-height: 156px;
    letter-spacing: 1.8px;
  }

  h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 108px;
    letter-spacing: 1.8px;
    line-height: 124px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .section {
    padding: 82px 0;
  }
}
