.review-content {
  padding: 0px 32px;
  width: 1280px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.review-title {
  letter-spacing: 1.8px;
  line-height: 124px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.custom-navigation {
  position: absolute;
  top: 82%;
  margin-top: 20px;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 32px;
  width: 592px;
  height: 224px;
  background: var(--color-light-grey);
}

.review-text {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.review-person {
  width: 528px;
  height: 40px;
  align-self: flex-start;
}

.review-person-featured-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.review-person-featured-icon-img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.review-person-featured-icon-circle {
  border-radius: 100%;
  fill: var(--color-light-accent);
}

.review-person-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: var(--color-black);
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #204136;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  stroke-width: 2px;
  stroke: var(--color-black);
  fill: var(--color-white);
}

.custom-swiper-button-prev {
  right: 60px;
}

.custom-swiper-button-next {
  right: 0px;
}

.custom-swiper-button-prev svg,
.custom-swiper-button-next svg {
  width: 100%;
  height: 100%;
}
