.together__title {
  color: var(--color-black);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.together__title span {
  color: var(--color-accent-green);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.together__contacts {
  margin-bottom: 40px;
}

.together__contacts-text {
  color: var(--color-black);
  margin-bottom: 32px;
}

.together__contacts-list li {
  margin-bottom: 16px;
}

.together__contacts-list a,
.together__contacts-list li:last-child {
  transition: all 0.3s;
  color: var(--color-black);
  padding-left: 40px;
  margin-bottom: 0;
}

.together__contacts-list a:before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url("#icon-telephone");
  width: 24px;
  height: 24px;
}

.together__contacts-list a:hover {
  color: var(--color-hover-green);
}

.together__form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.together__form input,
.together__form textarea {
  height: 48px;
  padding: 0 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-light-grey);
  border: none;
  border-radius: 8px;
}

.together__form textarea {
  height: 128px;
  padding: 16px;
}

.together__form button {
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-white);
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-accent-green);
  transition: all 0.3s;
}

.together__form button:hover {
  background-color: var(--color-hover-green);
}
