.together__title {
  color: var(--color-black);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.together__title span {
  color: var(--color-accent-green);
}

.together .wrapper {
  display: flex;
  flex-direction: column;
}

.together__contacts {
  margin-bottom: 40px;
}

.together__contacts-text {
  color: var(--color-black);
  margin-bottom: 32px;
  text-transform: uppercase;
}

.together__contacts-list {
  display: flex;
  flex-direction: column;
}

.list-item {
  margin-bottom: 16px;
}

.together__contacts-list a,
.list-item:last-child {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  color: var(--color-black);
  margin-bottom: 0;
}

.icons {
  fill: transparent;
  stroke-width: 2px;
  stroke: var(--color-accent-green);
  margin-right: 16px;
}

.together__form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
}

.together__form input,
.together__form textarea {
  height: 48px;
  padding: 0 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-light-grey);
  border: none;
  border-radius: 8px;
}

.error-message {
  display: none;
  position: absolute;
  top: 50px;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-error);
}

.icon-success-filled {
  fill: var(--color-accent-green);
  stroke-width: 0px;
  position: absolute;
  right: 16px;
  top: 17px;
  visibility: hidden;
}

.icon-success-filled.valid {
  visibility: visible;
}

.together__form textarea {
  height: 128px;
  max-width: 100%;
  padding: 16px;
  resize: none;
}

.together__form button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-white);
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-accent-green);
  transition: background-color 0.3s;
}

.together__form button:hover {
  background-color: var(--color-hover-green);
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 48px 32px;
  transition: all 0.5s;
  max-width: 320px;
  width: 100%;
}

.modal.show {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.modal__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: var(--color-accent-green);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.modal__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-black);
  text-align: center;
}

.backdrop {
  background-color: var(--color-black);
  opacity: 0;
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s;
}

.backdrop.visible {
  opacity: 0.8;
  z-index: 1;
  visibility: unset;
}

.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
}

.modal__close::after,
.modal__close::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: var(--color-black);
}

.modal__close::after {
  transform: rotate(45deg);
}
.modal__close::before {
  transform: rotate(-45deg);
}

.iziToast-capsule .iziToast {
  font-family: "Poppins", sans-serif;
}

.iziToast-wrapper.iziToast-wrapper-topCenter {
  top: 10px;
}

@media screen and (min-width: 768px) {
  .together .container {
    position: relative;
  }

  .together .container:after {
    content: "";
    position: absolute;
    background-image: url("../img/decor/decor-2.png");
    background-size: cover;
    top: -118px;
    right: 33px;
    width: 336px;
    height: 260px;
    z-index: -1;
  }

  .together__contacts {
    margin-bottom: 60px;
  }

  .together__contacts-text {
    font-size: 20px;
    line-height: 32px;
    max-width: 490px;
  }

  .together__contacts-list {
    flex-direction: row;
  }

  .list-item {
    margin-bottom: 0;
  }

  .list-item + .list-item {
    margin-left: 16px;
  }

  .together__form button {
    width: 173px;
    padding: 0 24px;
  }

  .modal {
    padding: 64px;
    max-width: 492px;
  }
}

@media screen and (min-width: 1158px) {
  .together .container:after {
    background-image: url("../img/decor/decor-5.png");
    background-size: contain;
    width: 526px;
    height: 408px;
    top: -116px;
    right: 21px;
  }
  .together__title {
    max-width: 510px;
    margin-bottom: 80px;
  }

  .together .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .together__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .together__contacts-list {
    flex-direction: column;
  }

  .list-item {
    margin-bottom: 16px;
  }

  .list-item:last-child {
    margin-bottom: 0;
  }

  .list-item + .list-item {
    margin-left: 0;
  }
  .together__form {
    max-width: 590px;
    width: 100%;
  }
}
